@page "/institute/{insid}"

@inject NavigationManager nm;


<h3>@title</h3>

<h3>Institute Component</h3>
@insid

@if (check)
{
    <MessageComponent CustomMessage="@message"></MessageComponent>
}

<EditForm Model="_ModelInstitute" OnSubmit="SubmitForm">
    <table>
        <tr>
            <td>
                InstituteId
            </td>
            <td>
                <InputText name="ID" @bind-Value="_ModelInstitute.InstituteId" Disabled></InputText>
            </td>
        </tr>
        <tr>
            <td>
                Title
            </td>
            <td>
                <InputText name="ID" @bind-Value="_ModelInstitute.Title" required></InputText>
            </td>
        </tr>
        <tr>
            <td>
                Email
            </td>
            <td>
                <InputText name="Email" @bind-Value="_ModelInstitute.Email" required></InputText>
            </td>
        </tr>
        <tr>
            <td>
                Phone
            </td>
            <td>
                <InputText name="Phone" @bind-Value="_ModelInstitute.Phone" required></InputText>
            </td>
        </tr>


        <tr>
            <td>
                Password
            </td>
            <td>
                <InputText name="Password" @bind-Value="_ModelInstitute.Password" required></InputText>
            </td>
        </tr>


        <tr>
            <td>
                CityId
            </td>
            <td>

                <select class="form-select" aria-label="Default select example" @bind="@cityid">

                    <option ID="DropDown">---Select City---</option>
                    <option value="42">Lahore</option>
                    <option value="51">Islamabad</option>
                </select>

            </td>
        </tr>
        <tr>
            <td>
                TypeOfId
            </td>
            <td>
                <select class="form-select" aria-label="Default select example" @bind="@typeid">

                    <option value="0">--Select Type---</option>
                    <option value="1">School</option>
                    <option value="4">Institute</option>
                </select>

            </td>
        </tr>
        <tr>
            <td>
                Location
            </td>
            <td>
                <InputText name="Location" @bind-Value="_ModelInstitute.Location" required></InputText>
            </td>
        </tr>



        <tr>
            <td>
            </td>
            <td>
                <button type="submit" class="btn btn-primary">@title</button>
            </td>
        </tr>
    </table>


</EditForm>

@code {

    private EntInstitutes _ModelInstitute { get; set; }
    private List<EntInstitutes> instituteList;
    private string? title { get; set; }

    [Parameter] public string insid { get; set; }

    private string? cityid { get; set; }
    private string? typeid { get; set; }
    private int i { get; set; }
    bool check = false;
    private string? message { get; set; }

    protected override void OnInitialized()
    {
        if (insid == "0")
        {
            _ModelInstitute = new EntInstitutes();
            title = " New Institute";
        }
        else
        {
            _ModelInstitute = DalInstitutes.GetInstituteBtId(insid);
            title = "Update Institute";
        }
    }

    private void SubmitForm()
    {
        if (insid == "0")
        {
            if (IfExist(_ModelInstitute.Title, _ModelInstitute.Email, _ModelInstitute.Phone, _ModelInstitute.Location) == 0)
            {



                if (typeid != "0" && cityid != "0" && typeid != null && cityid != null)
                {
                    _ModelInstitute.CityId = cityid;
                    _ModelInstitute.TypeOfId = typeid;
                    DalInstitutes.SaveInstitutes(_ModelInstitute);
                    nm.NavigateTo("/institutes");
                }
                else
                {
                    check = true;
                    message = "Select city and typeid";
                }
            }
            else

            {
                check = true;
                message = "Alread exist";
            }
        }
        else
        {
            if (IfExist(_ModelInstitute.Title, _ModelInstitute.Email, _ModelInstitute.Phone, _ModelInstitute.Location) == 0)
            {


                if (typeid != "0" && cityid != "0" && typeid != null && cityid != null)
                {

                    _ModelInstitute.CityId = cityid;
                    _ModelInstitute.TypeOfId = typeid;
                    DalInstitutes.UpdateInstitutes(_ModelInstitute);
                    nm.NavigateTo("/institutes");
                }
                else
                {
                    check = true;
                    message = "Select city and typeid";
                }

            }
            else
            {
                check = true;
                message = "Alread exist";
            }
        }

    }

    private int IfExist(string title, string email, string phone, string location)
    {
        instituteList = DalInstitutes.GetInstitutes();

        foreach (var emp in instituteList)
        {
            if (emp.Title == title || emp.Email == email || emp.Phone == phone || emp.Location == location)
            {
                i = 1;
            }
            else
            {
                i = 0;
            }

        }
        return i;
    }



}






