@page "/institute/{insid}"

@inject NavigationManager nm;


<h3>@title</h3>

<h3>InstituteComponent</h3>
@insid



<EditForm Model="_ModelInstitute" OnSubmit="SubmintForm">
    <table>
        <tr>
            <td>
                InstituteId
            </td>
            <td>
                <InputText name="ID" @bind-Value="_ModelInstitute.InstituteId" Disabled></InputText>
            </td>
        </tr>
        <tr>
            <td>
                Title
            </td>
            <td>
                <InputText name="ID" @bind-Value="_ModelInstitute.Title" required ></InputText>
            </td>
        </tr>
        <tr>
            <td>
                Email
            </td>
            <td>
                <InputText name="Email" @bind-Value="_ModelInstitute.Email" required ></InputText>
            </td>
        </tr>
        <tr>
            <td>
                Phone
            </td>
            <td>
                <InputText name="Phone" @bind-Value="_ModelInstitute.Phone" required ></InputText>
            </td>
        </tr>


        <tr>
            <td>
                Password
            </td>
            <td>
                <InputText name="Password" @bind-Value="_ModelInstitute.Password" required ></InputText>
            </td>
        </tr>


        <tr>
            <td>
                CityId
            </td>
            <td>
                <select @bind="@cityid">
                    <option value="0">--Select City---</option>
                    <option value="42">Lahore</option>
                    <option value="51">Islamabad</option>
                </select>

            </td>
        </tr>
        <tr>
            <td>
                TypeOfId
            </td>
            <td>
                <select @bind="@typeid">
                    <option value="0">--Select Type---</option>
                    <option value="1">School</option>
                    <option value="4">Institute</option>
                </select>

            </td>
        </tr>
        <tr>
            <td>
                Location
            </td>
            <td>
                <InputText name="Location" @bind-Value="_ModelInstitute.Location" required ></InputText>
            </td>
        </tr>



        <tr>
            <td>
            </td>
            <td>
                <button type="submit" class="btn btn-primary">@title</button>
            </td>
        </tr>
    </table>


</EditForm>
@if (check)
{
    <MessageComponent CustomMessage="@message"></MessageComponent>
}
@code {

    private EntInstitutes _ModelInstitute { get; set; }

    private string? title { get; set; }

    [Parameter] public string insid { get; set; }

    private string? cityid { get; set; }
    private string? typeid { get; set; }

    bool check = false;
    private string? message { get; set; }

    protected override void OnInitialized()
    {
        if (insid == "0")
        {
            _ModelInstitute = new EntInstitutes();
            title = " New Institute";
        }
        else
        {
            _ModelInstitute = DalInstitutes.GetInstituteBtId(insid);
            title = "Update Institute";
        }
    }

    private void SubmintForm()
    {
        if (insid == "0")
        {
            if (typeid != "0" && cityid != "0" && typeid != null && cityid != null)
            {
                _ModelInstitute.CityId = cityid;
                _ModelInstitute.TypeOfId = typeid;
                DalInstitutes.SaveInstitutes(_ModelInstitute);
                nm.NavigateTo("/institutes");
            }
            else
            {
                check = true;
                message = "Select city and typeid";
            }

        }
        else
        {
            if (typeid != "0" && cityid != "0" && typeid != null && cityid != null)
            {

                _ModelInstitute.CityId = cityid;
                _ModelInstitute.TypeOfId = typeid;
                DalInstitutes.UpdateInstitutes(_ModelInstitute);
                nm.NavigateTo("/institutes");
            }
            else
            {
                check = true;
                message = "Select city and typeid";
            }
        }

    } 
}






