@page "/programdegreedetails"
@inject NavigationManager nm
@using ClassLibraryDAL

@using ClassLibraryEntities
<h3>ProgramDegreeDetail</h3>

<EditForm Model="_ModelProgramDegreeDetail" OnSubmit="SubmintForm">
    <div class="row">
        <div class="col">
            <select class="form-select" aria-label="Default select example" @onchange="_CatOption">
                <option selected>Select Category</option>

                @foreach (var emp in @ProgramCategoriesList)
                {
                    <option value="@emp.ProgramCategoryId">@emp.CategoryName</option>
                }
            </select>


        </div>
        <div class="col">
            <select @bind="@DegreeId" class="form-select" aria-label="Default select example">
                <option selected>Select Category</option>

                @foreach (var emp in @ProgramDegreeList)
                {
                    if (alpha == emp.ProgramCategoryid)
                    {
                        <option value="@emp.ProgramDegreeId">@emp.DegreeName</option>
                    }
                }
            </select>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</EditForm>

<table class="table table-bordered">
    <tr>

        <th>Degree</th>



        <th>Duration</th>
        <th>TSem</th>
        <th>Matric</th>
        <th>Fsc</th>
        <th>BS</th>

        <th>TFee</th>
        <th>SFee</th>
        <th>ClosingMerit</th>
        <th>HEC,PEC</th>
        <th>Morning</th>
        <th>Evening</th>
        <th>Weekened</th>
        <th>PDG</th>
        <th>Action</th>


    </tr>
    @foreach (var emp in @ProgramDegreeDetailsList)
    {
        <tr>

            <td>@emp.ProgramDegreeId</td>
            <td>@emp.Duration</td>
            <td>@emp.TotalSemesters</td>
            <td>@emp.Matric</td>
            <td>@emp.FSC</td>
            <td>@emp.BS</td>
            <td>@emp.TotalFee</td>
            <td>@emp.SemesterFee</td>
            <td>@emp.ClosingMerit</td>
            <td>@emp.ApprovedById</td>
            <td>@emp.Morning</td>
            <td>@emp.Evening</td>
            <td>@emp.Weekened</td>
            <td>@emp.PassingDegreeGroups</td>
            <td>
            <button @onclick="(e => OnDelete(emp.ProgramDegreeDetailsId))" class="btn btn-warning bt-sm">Del</button>
                @*<a href="programdegreedetail/@emp.ProgramDegreeDetailsId" class="btn btn-warning bt-sm">Edit</a>*@
                </td>
                    <td>
                    <select class="form-select" aria-label="Default select example" @onchange="_EditOption">
                        <option selected>Edit</option>
                        <option value="duration/@emp.ProgramDegreeDetailsId">Duration</option>
                        <option value="totalsemesters/@emp.ProgramDegreeDetailsId">TotalSemester</option>
                        <option value="eligibility/@emp.ProgramDegreeDetailsId">Eligibility Criteria</option>
                        <option value="feedetails/@emp.ProgramDegreeDetailsId">Fees</option>
                        <option value="shifts/@emp.ProgramDegreeDetailsId">Shift</option>
                        <option value="closingmerit/@emp.ProgramDegreeDetailsId">ClosingMerit</option>
                        <option value="approvedby/@emp.ProgramDegreeDetailsId">AprovedID</option>
                        <option value="passinggroups/@emp.ProgramDegreeDetailsId">ProgramDegreeGroups</option>
                    </select>
            </td>
        </tr>

    }
</table>

@code {

    private List<EntProgramDegreeDetails>? ProgramDegreeDetailsList { get; set; }
    private List<EntProgramCategory>? ProgramCategoriesList;
    private List<EntProgramDegree>? ProgramDegreeList;
    private EntProgramDegreeDetails? _ModelProgramDegreeDetail { get; set; }
    private string? alpha { get; set; }
    private string? DegreeId { get; set; }
    private string? EditOption { get; set; } 
    protected override void OnInitialized()
    {
        _ModelProgramDegreeDetail = new EntProgramDegreeDetails();
        LoadProgramDetails();
        LaodProgramDegreeDetails();


    }

    private void OnDelete(string id)
    {

        DALProgramDegreeDetails.DeleteProgramDegreeDetails(id);
        LaodProgramDegreeDetails();

    }

    private void LaodProgramDegreeDetails()
    {
        this.ProgramDegreeDetailsList = DALProgramDegreeDetails.GetProgramDegreeDetailsByInstituteId("13");

    }
    private void _CatOption(ChangeEventArgs e)
    {
        alpha = e.Value as string;

    }
    private void _EditOption(ChangeEventArgs e)
    {
        EditOption = e.Value as string;
        Redirect(EditOption);
    }
    private void SubmintForm()
    {
        _ModelProgramDegreeDetail.InstituteId = "13";
        _ModelProgramDegreeDetail.ProgramDegreeId = DegreeId;
        DALProgramDegreeDetails.SaveProgramDegreeDetails(_ModelProgramDegreeDetail);
        LaodProgramDegreeDetails();
        //if (DegreeID == "0")
        //{

        //    nm.NavigateTo("/programdegreedetails");
        //}
        ////else
        ////{
        ////    DALProgramDegreeDetails.UpdateProgramCategory(_ModelProgramDegreeDetail);
        ////    nm.NavigateTo("/programdegreedetails");
        ////}


    }
    private void LoadProgramDetails()
    {
        this.ProgramCategoriesList = DALProgramCategory.GetProgramCategory();
        this.ProgramDegreeList = DALProgramDegree.GetProgramDegree();
    }


    private void Redirect(string url)
    {
        nm.NavigateTo(url);  
    }

 }