@page "/search"
<section>
    <Search1 OnSearchUniversity="SearchUniversity"></Search1>

</section>
<section style="margin-top:100px">
    <ShowList Elements="FilterUniversityList">
        <NullTemplate>
        </NullTemplate>
        <WithElementTemplate>
            <div class="container">
                <div class="row">

                    @foreach (var emp in FilterUniversityList)
                    {
                        <div class="col-md-3 mb-4">
                            <div class="card text-dark bg-white shadow border-0" style="min-height:300px; margin-bottom:50px;">
                                <div style="margin-top:-50px" class="d-flex justify-content-center">
                                    <img src="@emp.logo" class="card-img-top p-2 bg-white shadow" alt="..." style="height: 100px; width: 100px; border-radius: 50%; " />

                                </div>

                                <div class="card-body text-center flex-column justify-content-around d-flex">

                                    <div class="mb-3">
                                        @if (emp.admission_Open_Close == true)
                                        {
                                            <span class="badge rounded-pill text-bg-success">@AdmissionOpen</span>
                                        }
                                        else
                                        {
                                            <span class="badge rounded-pill text-bg-warning">@AdmissionClose</span>

                                        }
                                    </div>
                                    <h6 class="lead">@emp.Title</h6>
                                    <h6 class="card-subtitle mt-3">You are eligible in <b>@emp.Departments </b> Departments</h6>

                                    <div>
                                        <button class="btn btn-outline-primary btn-sm mt-2" type="button" @onclick="e=>DepartmentsDetails(emp.InstituteId,emp.Title,emp.logo)" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">View Details</button>

                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    }
                </div>
            </div>
        </WithElementTemplate>
    </ShowList>
</section>
<section>
    <div class="offcanvas offcanvas-end w-100 canvas-color" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <div class="d-flex gap-5">
                <img src="@ImgURL" class="card-img-top" alt="img" style=" width: 67px; border-radius: 50%;" />
                <h2 id="offcanvasRightLabel" class="text-black mt-3">@UniversityTitle</h2>

            </div>
            <button type="button" class="btn-close text-reset " style="Color:White;" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            @if (@InstituteId != null)
            {

                <ViewDetails insid="@InstituteId" PDSGID="@PDSGD"></ViewDetails>
            }



        </div>
    </div>
</section>
@code {
    private List<EntProgramDegreeDetails>? FilterDepartmentList { get; set; }
    [Parameter] public string? AdmissionOpen { get; set; }
    [Parameter] public string? AdmissionClose { get; set; }
    public EntSearhParameters? searhParameters { get; set; }
    public string? InstituteId { get; set; }
    public string? PDSGD { get; set; }
    public string? UniversityTitle { get; set; }
    public string? ImgURL { get; set; }
    [Parameter] public List<EntFilterUniversity>? FilterUniversityList { get; set; }
    protected void SearchUniversity(EntSearhParameters searhParameters)
    {
        AdmissionOpen = "Admission Open";
        AdmissionClose = "Admission Close";
        PDSGD = searhParameters.PassingDegreeSubjectGroupId;
        FilterUniversityList = DalFilter.GetDepartmentsbyID(searhParameters.PassingDegreeSubjectGroupId, searhParameters.CityID, searhParameters.Percentage);
    }
    private void DepartmentsDetails(string iid, string title, string imgurl)
    {
        InstituteId = iid;
        UniversityTitle = title;
        ImgURL = imgurl;
        FilterDepartmentList = DalFilter.GetDepartmentDetailsbyID(PDSGD, iid);

    }
}
