@page "/form"
<h3>Form</h3>
@using ClassLibraryDAL
@using ClassLibraryEntities

<EditForm Model="_ModelProgramDegreeDetail" OnSubmit="SubmintForm">
    <div class="row">
        <div class="col">
            <select class="form-select" aria-label="Default select example" @onchange="_CatOption">
                <option selected>Select Degree</option>

                @foreach (var emp in @ProgramCategoriesList)
                {
                    <option value="@emp.ProgramCategoryId">@emp.CategoryName</option>
                }
            </select>


        </div>
        <div class="col">
            <select @bind="@DegreeId" class="form-select" aria-label="Default select example">
                <option selected>Select Field</option>

                @foreach (var emp in @ProgramDegreeList)
                {
                    if (alpha == emp.ProgramCategoryid)
                    {
                        <option value="@emp.ProgramDegreeId">@emp.DegreeName</option>
                    }
                }
            </select>
        </div>
        <h2>Education Details</h2>

    </div>
</EditForm>

<div class="card m-3">
    <h4 class="card-header">SSC</h4>
    <div class="card-body">


        <EditForm Model="_ModelInfo" OnSubmit="SubmitForm">

            <div class="row">

                <div class="form-group col-5">
                    <label>Degree:</label>
                    <InputText @bind-Value="_ModelInfo.FirstName" class="form-control" />

                </div>
                <div class="form-group col-5">
                    <label>Obtained Marks:</label>
                    <InputText @bind-Value="_ModelInfo.LastName" class="form-control" />

                </div>

            </div>


            <div class="row">

                <div class="form-group col-5">
                    <label>Total Marks</label>
                    <InputText @bind-Value="_ModelInfo.FirstName" class="form-control" />

                </div>
                <div class="form-group col-5">
                    <label>Percentage</label>
                    <InputText @bind-Value="_ModelInfo.LastName" class="form-control" />

                </div>

            </div>

            <div class="row">

                <div class="form-group col-5">
                    <label>Subjects</label>
                    <InputText @bind-Value="_ModelInfo.FirstName" class="form-control" />

                </div>
                <div class="form-group col-5">
                    <label>Institute:</label>
                    <InputText @bind-Value="_ModelInfo.LastName" class="form-control" />

                </div>
            </div>

            <div class="row">

                <div class="form-group col-5">
                    <label>Board/University:</label>
                    <InputText @bind-Value="_ModelInfo.FirstName" class="form-control" />

                </div>
                <div class="form-group col-5">
                    <label>Passing Year:</label>
                    <InputText @bind-Value="_ModelInfo.LastName" class="form-control" />

                </div>
            </div>





            <h4 class="card-header">HSSC</h4>

            <div class="row">
                <div class="form-group col-5">
                    <label>Degree:</label>
                    <InputText @bind-Value="_ModelInfo.FirstName" class="form-control" />

                </div>
                <div class="form-group col-5">
                    <label>Obtained Marks:</label>
                    <InputText @bind-Value="_ModelInfo.LastName" class="form-control" />

                </div>

            </div>


            <div class="row">

                <div class="form-group col-5">
                    <label>Total Marks</label>
                    <InputText @bind-Value="_ModelInfo.FirstName" class="form-control" />

                </div>
                <div class="form-group col-5">
                    <label>Percentage</label>
                    <InputText @bind-Value="_ModelInfo.LastName" class="form-control" />

                </div>

            </div>

            <div class="row">

                <div class="form-group col-5">
                    <label>Subjects</label>
                    <InputText @bind-Value="_ModelInfo.FirstName" class="form-control" />

                </div>
                <div class="form-group col-5">
                    <label>Institute:</label>
                    <InputText @bind-Value="_ModelInfo.LastName" class="form-control" />

                </div>
            </div>

            <div class="row">

                <div class="form-group col-5">
                    <label>Board/University:</label>
                    <InputText @bind-Value="_ModelInfo.FirstName" class="form-control" />

                </div>
                <div class="form-group col-5">
                    <label>Passing Year:</label>
                    <InputText @bind-Value="_ModelInfo.LastName" class="form-control" />

                </div>
            </div>

        </EditForm>
    </div>
</div>

@code {




    private EntProgramDegreeDetails? _ModelProgramDegreeDetail { get; set; }
    private List<EntProgramCategory>? ProgramCategoriesList;
    private List<EntProgramDegree>? ProgramDegreeList;
    private string? DegreeId { get; set; }
    private string? alpha { get; set; }
    private void _CatOption(ChangeEventArgs e)
    {
        alpha = e.Value as string;

    }
    private void SubmintForm()
    {


    }

    private void LoadProgramDetails()
    {
        this.ProgramCategoriesList = DALProgramCategory.GetProgramCategory();
        this.ProgramDegreeList = DALProgramDegree.GetProgramDegree();
    }
    protected override void OnInitialized()
    {
        _ModelProgramDegreeDetail = new EntProgramDegreeDetails();
        LoadProgramDetails();


    }
    private EntStudentInfo? _ModelInfo { get; set; } = new EntStudentInfo();
    public string? EditCity { get; set; }
    public string? EditProvince { get; set; }
    public string? EditGender { get; set; }

    private void SubmitForm()
    {


    }
    private void _EditCity(ChangeEventArgs e)
    {
        EditCity = e.Value as string;
    }
    private void _EditProvince(ChangeEventArgs e)
    {
        EditProvince = e.Value as string;
    }
    private void _EditGender(ChangeEventArgs e)
    {
        EditGender = e.Value as string;
    }
    public void UpdateAlive(string alpha)
    {
        _ModelInfo.FAlive = alpha;
    }
}
