@page "/"
@using ClassLibraryDAL
@using ClassLibraryEntities


<div class="col-xl-10">
    <div class="text-center text-lg-start">
        <p class="subtitle letter-spacing-4 mb-2 text-secondary text-shadow">The best holiday experience</p>
        <h1 class="display-3 fw-bold text-shadow">Stay like a local</h1>
    </div>
    <div class="search-bar mt-5 p-3 p-lg-1 ps-lg-4">

        <div class="row">


            <div class="col-lg-3">
                <div class="dropdown bootstrap-select">
                    <select class="form-select text-black" @onchange="_DegOption" required>
                        <option selected>Select Category</option>

                        @foreach (var emp in @PassingDegreeList)
                        {
                            <option value="@emp.PassingDegreesId">@emp.Title</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="dropdown bootstrap-select">
                    <select @bind="@PassingDegreeSGid" class="form-select text-black" aria-label="Default select example" >
                        <option selected>Select Category</option>

                        @foreach (var emp in @PassingDSGroupsList)
                        {
                            if (alpha == emp.PassingDegreeId)
                            {
                                <option value="@emp.PassingDSGroupsId">@emp.PassingDSGroups</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="dropdown bootstrap-select">
                    <select @bind="@perc" class="form-select text-black" aria-label="Default select example" required>
                        <option selected>Select Percentage</option>
                        <option value="50">50 </option>
                        <option value="60">60</option>


                    </select>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="dropdown bootstrap-select">
                    <select  @bind="cityID" class="form-select " aria-label="Default select example" required>
                        <option value="">Select City</option>

                        @foreach (var emp in @CitiesList)
                        {

                            <option value="@emp.CityId">@emp.CityName</option>

                        }
                    </select>
                </div>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary" @onclick="Submit">Search</button>
            </div>
        </div>

    </div>
</div>

@if (check)
{


    <div class="container-fluid mt-5">
        <div class="row">
            @foreach (var emp in FilterCitiesList)
            {
                <div class="col-3 mt-4">
                    <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-header h4">@emp.Title</div>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2">You are eligible in <b>@emp.Departments </b> Departments</h6>

                            <button class="btn btn-primary mt-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" @onclick="e=>DepartmentsDetails(emp.InstituteId)">View Details</button>

                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
}




<div class="offcanvas offcanvas-end w-100 canvas-color" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Eligible Departments</h5>
        <button type="button" class="btn-close text-reset " style="Color:White;" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        @if (check1)
        {
            <ViewDetails FilterDepartmentList="FilterDepartmentList"></ViewDetails>

        }

    </div>
</div>
@code {

    private List<EntPassingDegree>? PassingDegreeList;
    private List<EntPassingDSGroups>? PassingDSGroupsList;
    private List<EntCities>? CitiesList;
    private List<EntFilter> FilterCitiesList;
    private List<EntProgramDegreeDetails>? FilterDepartmentList { get; set; }

    public string? alpha { get; set; }
    private string? PassingDegreeSGid { get; set; }
    public string? cityID { get; set; }
    public bool check = false;
    public bool check1 = false;
    public string? perc { get; set; }


    private EntFilter? _ModelFilter { get; set; } = new EntFilter();
    private void LoadProgramDetails()
    {
        this.PassingDegreeList = DALPassingDegree.GetPassingDegrees();
        this.PassingDSGroupsList = DALPassingDSGroups.GetPassingDSGroups();
        this.CitiesList = DalCities.GetCities();
    }
    protected async override void OnInitialized()
    {
        LoadProgramDetails();
    }
    private void _DegOption(ChangeEventArgs e)
    {
        alpha = e.Value as string;

    }
    private void Submit()
    {
        FilterCitiesList = DalFilter.GetDepartmentsbyID(PassingDegreeSGid,cityID, perc);
        check = true;
    }

    private void DepartmentsDetails(string iid)
    {

        FilterDepartmentList = DalFilter.GetDepartmentDetailsbyID(PassingDegreeSGid, iid);
        check1 = true;
    }
}